{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": ["prettier", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "error"
  }
}
